<h1>Listing biofeeds</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @biofeeds.each do |biofeed| %>
      <tr>
        <td><%= biofeed.description %></td>
        <td><%= link_to 'Show', biofeed %></td>
        <td><%= link_to 'Edit', edit_biofeed_path(biofeed) %></td>
        <td><%= link_to 'Destroy', biofeed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Biofeed', new_biofeed_path %>
